body {
    background: #59869b;
    font-family:Arial, Helvetica, sans-serif;
  }
  img {
    height:100%;
    width:100%;
    border-radius: 25px;
    object-fit: contain;
  }
 ul{
    columns: 2;
    list-style-type:none;
  }
.card {
    width: 50%;
    height:auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 20%;
}  
  .header {
    height: 30%;
    background-image: linear-gradient(to right, #7a54c0, #cfb5d3);
    color: white;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  .container {
    margin:auto;
    background-image: linear-gradient(to right, #a0f1cf, #cfb5d3);
    border-radius: 25px;  
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}